  <% include ../partials/header.ejs %>

	<h1>Username: <%=user.username%></h1>

	<fieldset>
		<legend>Edit User Info: </legend>

		<form action="/users/<%=user.id%>?_method=PUT" method="POST">
			Username: <input type="text" name="username" value="<%=user.username%>"><br><br>
			Password: <input type="password" name="password" value="<%=user.password%>"><br><br>
			Bio: <input type="text" name="bio" value="<%=user.bio%>"><br><br>
			Now Spinning: <input type="text" name="spinning" value=""><br><br>

			Genres: 
			<% allGenres.forEach((oneGenre, i) => { %>
				<div>
					<input type="checkbox" id="<%=allGenres[i]%>CheckBox" name="genres" value="<%=allGenres[i]%>"
					<% if(user.genres.find(oneUserGenre => oneUserGenre == oneGenre) != undefined) {%>
					checked
					<%}%>
					>
					<label for="<%=allGenres[i]%>CheckBox"><%=allGenres[i]%></label>
				</div>
			<% }) %>

			<br>
			<button type="submit">Submit User Changes</button>
		</form>
	</fieldset>
	<br>

	<fieldset>
		<form>
			Albums: | <a href="/albums/new">New Album</a>
				<ul> <% user.albums.forEach(oneUserAlbum => { %>
					<li>
						Album Title: "..."<%=oneUserAlbum.title%> | 
						<a href="/albums/<%=oneUserAlbum.id%>/edit">Edit Album</a> | 
						<form action="/albums/<%=oneUserAlbum.id%>?_method=DELETE" method="POST">
							<button>Delete Album</button>
						</form>
					</li>
					<% }) %>
				</ul>
			<br>
			Shelves: | <a href="/shelves/new">New Shelf</a>
				<ul>
					<% user.shelves.forEach(oneUserShelf => {
						if (oneUserShelf != null){%>
						<li>
							<a href="/shelves/<%=oneUserShelf.id%>"><%=oneUserShelf.title%></a> | 
							<a href="/shelves/<%=oneUserShelf.id%>/edit">Edit Shelf</a> | 
							<form action="/shelves/<%=oneUserShelf.id%>?_method=DELETE" method="POST">
								<button>Delete Shelf</button>
							</form>
						</li>
						<% } %>
					<% }) %>
				</ul>

			Liner Notes: <input type="text" name="linerNotes" value="<%=user.linerNotes%>"><br><br>

			<button type="submit">Submit changes</button>
		</form>
	</fieldset>


	<br>
	<br>
	<form action="/users/<%=user.id%>?_method=DELETE" method="POST">
		<button type="submit">Delete <%=user.username%></button>
	</form>

</body>
</html>