<% include ../partials/header.ejs %>

	<h1>Username: <%=user.username%></h1>

	<fieldset>
		<% if (session.logged && session.userId === user.id){ %>
			<legend><a href="/users/<%=user._id%>/edit">Edit Profile</a></legend>
		<%}%>

		<ul>
			<li>Now Spinning: 
				<% if (spinning !== null){ %>
					<a href="/albums/<%=spinning.id%>"><%=spinning.title%></a> | <%=spinning.artist%></li><br>
				<% } %>
			<li>Genres: 
				<ul>
					<% user.genres.forEach(oneGenre => { %>
						<li><%=oneGenre%></li>
					<% }) %>
				</ul>
			</li><br>
			<li>Bio: 		<%=user.bio%></li><br>
		</ul>
	</fieldset>
	<br>
	<fieldset>
		<legend><a href="/users/<%=user._id%>/edit">Edit Library</a></legend>
		<ul>
			<li>Albums: 	
				<% if (session.logged && session.userId === user.id){ %>
					<a href="/albums/new">New Album</a>
				<%}%>
				<ul>
					<% user.albums.forEach(album => { %>
						<li><a href="/albums/<%=album.id%>"><%=album.title%></a></li>
					<% }) %>
				</ul>
			</li><br>
			<li>Shelves: 			
				<% if (session.logged && session.userId === user.id){ %>
					<a href="/shelves/new">New Shelf</a>
				<%}%>
				<ul>
					<% user.shelves.forEach(shelf => { %>
						<li><a href="/shelves/<%=shelf.id%>"><%=shelf.title%></a></li>
					<% }) %>
				</ul>
			</li><br>
			<li>Favorite Shelves:
				<ul>
					<% user.favorites.forEach(shelf => { %>
						<li><a href="/shelves/<%=shelf.id%>"><%=shelf.title%></a> | <a href="/users/<%=shelf.created_by%>">author</a></li>
					<% }) %>
				</ul>
			</li>
			<li><a href="/users/<%=user._id%>/linernotes">Liner Notes</a>(Later)</li><br>
		</ul>
	</fieldset>

</body>
</html>