  <% include ../partials/header.ejs %>

	<h1>Username: <%=user.username%></h1>

	<a href="http://localhost:3000/users/<%=user._id%>/edit">Edit Profile</a>

	<ul>
		<li>Genres: 
			<ul>
				<% user.genres.forEach(oneGenre => { %>
					<li><%=oneGenre%></li>
				<% }) %>
			</ul>
		</li><br>
		<li>Bio: 		<%=user.bio%></li><br>
		<li>Albums: 	<%=user.albums%></li><br>
		<li>Shelves: 	<%=user.shelves%></li><br>
		<li>Liner Notes: <%=user.linerNotes%></li><br>
		<li>Now Spinning: <%=user.spinning%></li><br>
	</ul>

</body>
</html>