<% include ../partials/header.ejs %>

	<h2>Shelves</h2>
	<ul> 
		<% allShelves.forEach(shelf => { %>

			<li>
				<a href="/shelves/<%=shelf.id%>"><i><%=shelf.title%></i></a> | 
				
				<% users.forEach(user => { %>
					<% if (shelf.created_by == user.id) {%>
						<a href="/users/<%=user.id%>"><%=user.username%></a>
					<%}%>
				<% }) %>

				<form action="/shelves/<%=shelf.id%>?_method=DELETE" method="POST">
					<button>Delete Shelf</button>
				</form>
			</li>

		<%})%>
	</ul>
</body>
</html>