  <% include ../partials/header.ejs %>
	<header>
		<h1><%=album.title%></h1>
	</header>
	<main>
		<img src="<%=album.cover_image%>">
		<form method="POST" action="/albums/">
			<input type="string" name="cover" value="<%=album.cover_image%>" hidden>
			Title: 	<input type="text" name="title" value="<%=album.title%>"><br>
			Artist: <input type="text" name="artist" value="<%=album.artists[0].name%>"><br>
			Year: 	<input type="number" name="year" value="<%=album.released%>"><br>
			Genres: <input type="text" name="genres" value="<%=album.genres%>"><br>
			Discogs Info:	<div type="text" name="info" value="<%=album.notes%>"><br>
			Tracklist: 
			<ol>
				<%album.tracklist.forEach((elem, i) => {%>
					<li><%=elem.title%></li>
				<%})%>
			</ol>
			<input type="text" name="tracklist" value="<%album.tracklist.forEach((elem, i) => {%>
				<%=i+1%>. <%=elem.title%> , 
			<%})%>" hidden>
			<br>
			<h2>Add to Shelves:</h2>
			<% shelves.forEach((elem, i) => { %>
				<input type="checkbox" name="shelf" value="<%=elem.id%>"><%=elem.title%><br>
			<% }) %>
			<br>
			<input type="submit">
			<br><br><br><br>
		</form>
	</main>
</body>
</html>