  <% include ../partials/header.ejs %>
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<header>
		<h1><%=album.title%></h1>
	</header>
	<br>
	<main>
		<form method="POST" action="/albums/">
			Title: <p name="title"><%=album.title%><br>
			Artist: <p name="artist"><%=album.artists[0].name%>,<br>
			Year: <p name="year"><%=album.released%>,<br>
			Genres: <p name="genres"><%=album.genres%>,<br>
			Info:<p name="info"><%=album.notes%>,<br>
			Tracklist: 
			<ol name="tracklist">
				<%album.tracklist.forEach((elem, i) => {%>
					<li><%=elem.title%></li>
				<%})%>
			</ol>
			<br>
			<input type="submit">
		</form>
	</main>

</body>
</html>