<% include ../partials/header.ejs %>

	<h1><%=album.title%></h1>
	<h2><%=album.artist%></h2>


	<img src="<%=album.cover%>">
	Released: <%=album.year%><br>
	
	<form action="/albums/<%=album.id%>%>/edit">
		<input type="submit" value="edit">		
	</form>
	<br>
	<br>
	<form action="/linernotes/<%=linernotes.id%>">
		<fieldset>
			<legend>Add Comment:</legend>
			<textarea type="text" name="body"></textarea>
			<button>Submit Comment</button>
		</fieldset>
	</form>

</body>
</html>