  <% include ../partials/header.ejs %>
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<header>
		<h1>Results</h1>
	</header>
	<main>
		<h2>Results: </h2>
		<ul>
			<% if (albums.length === 0){%>
				<p>No results match your search... :( <br><br> <a href="/search/">try again</a>?</p>
			<%} else {%>
			<%albums.forEach((elem, i) => {%>

				<div class="searchResults">
					<a href="/albums/new/<%=elem.id%>">
					<img src="<%=elem.cover_image%>"><br>
					<%=elem.title%></a>
				</div>

				<div class="searchResults">
					<form action="/albums/new/<%=elem.id%>" method="GET">
						<a href="/albums/new/<%=elem.id%>">
						<img src="<%=elem.cover_image%>"><br>
						<%=elem.title%>
						</a>
						<input type="submit" name="cover" value="<%=elem.cover_image%>" hidden>
					</form>
				</div>
			<%})}%>
		</ul>
	</main>
</body>
</html>